.app-footer {
  background-color: #323a45;
  color: var(--white-color);
  margin-top: 14px;
}
.footer-cover {
  height: 250px;
  padding: 50px 0 0 20px;
}
.footer-list {
  list-style: none;
}

.footer-item {
  font-size: 1.8rem;
  display: flex;
}

.footer-item__download,
.footer-contact,
.footer-item__link {
  text-decoration: none;
  color: var(--white-color);
  display: flex;
  margin-bottom: 30px;
}

.footer-item__download,
.footer-contact,
.footer-item__link p {
  font-size: 2.6rem;
  font-weight: 600;
}

.footer-item__link img {
  margin-right: 12px;
}

.footer-item__desc {
  line-height: 2.5rem;
  font-size: 2rem;
}

.footer-item__contact {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 5px;
}

.footer-item__icon {
  margin: 5px;
  font-size: 2rem;
  font-weight: 600;
}

.footer-item__link-dow {
  text-decoration: none;
}

.footer-item__link-dow img {
  width: 120px;
  height: 40px;
  margin-bottom: 16px;
}

.footer-description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 2.6rem;
}

.footer-desc__link {
  color: var(--white-color);
  text-decoration: none;
}

.footer-desc__link:hover {
  color: var(--primary-key);
  text-decoration: underline;
}
.footer-item__link:hover img,
.footer-item__link:hover {
  opacity: 0.8;
}
