/* table  */
.app-content {
  padding: 4px;
  margin: 6px 0;
  border: 1px solid var(--primary-key);
  border-radius: 4px;
  height: 90vh;
  min-height: 550px;
}

.table {
  border: 1px solid rgb(150, 150, 150);
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  border-collapse: collapse;
  color: black;
  border-radius: 3px;
}
.table-row {
  height: 60px;
  border: 1px solid #ccc;
}
.table-col-first,
.table-col {
  border: 1px solid #ccc;
}

.table-col-first {
  text-align: center;
}
.table-col {
  /* max-width: 96px; */
  font-size: 1.6rem;
  font-weight: 500;
}
.font-weight {
  font-weight: bold;
}

.table-col-content {
  display: block;
  width: 150px;
  font-size: 1.6rem;
  font-weight: 600;
  margin: auto;
  color: var(--text-color);
  text-decoration: none;
}

.table-col-time {
  font-size: 1.5rem;
}

.table-col-content:hover {
  color: var(--primary-key);
}

.-content_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-content_headding {
  margin: 0 10px;
}

.app-content_headding-content {
  color: var(--primary-key);
  font-size: 3.6rem;
  font-weight: 700;
  margin: 16px 10px 20px;
}

.app-content_switch_export {
  font-size: 1.6rem;
}
.app-content_switch-icon {
  display: flex;
  margin-right: 10px;
  transform: translateY(-1px);
}
.input_export {
  width: 30%;
}

.app-content_switch-icon .wrapper-app_icon {
  color: rgb(99, 99, 99);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.wrapper-app_icon a {
  color: rgb(99, 99, 99);
  text-decoration: none;
}

.current-date {
  margin-right: 20px;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 5px;
  font-size: 1.6rem;
}
.current-date:hover {
  color: #fff;
  background-color: var(--primary-key);
  transition: all 0.2s linear;
}

.app-content_switch-date {
  font-size: 1.6rem;
  transform: translateY(3px);
  margin-right: 10px;
  width: 190px;
}

.app-content_switch-prev:hover,
.app-content_switch-next:hover {
  color: var(--primary-key);
}

.app-content_switch-prev,
.app-content_switch-next {
  padding: 2px 0;
}

form.example button.btn-check {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
form.example input[type="text"] {
  padding: 8px 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  margin-bottom: 20px;
  outline: none;
  border-radius: 7px;
  margin-right: 10px;
  margin-left: 22px;
  border: 1px solid var(--primary-key);
  background-color: white;
  width: 210px;
}
.btn-search {
  padding: 7px 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--primary-key);
  color: white;
  background-color: var(--primary-key);
}
.highlight {
  background-color: var(--primary-key);
  padding: 8px 0px;
  margin: 8px;
  color: white;
  border-radius: 7px;
  text-align: center;
}
.button {
  background-color: var(--primary-key);
  padding: 8px 12px;
  color: white;
  outline: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid var(--ontime-color);
}
.button:hover {
  opacity: 0.7;
}

.not-button {
  background-color: var(--primary-key);
  padding: 8px 12px;
  color: white;
  outline: none;
  border: none;
  border-radius: 7px;
}
.export-container {
  display: flex;
  text-align: center;
}

.export-container h4 {
  display: flex;
  text-align: center;
  font-size: 2.2rem;
  margin-left: 24px;
  margin-right: 20px;
}
.mt-top {
  transform: translateY(-5px);
}

.app-content_switch_export {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 30px 0 20px;
}

.switch-style_date {
  font-size: 1.6rem;
  margin-right: 30px;
  margin-bottom: 10px;

  display: flex;
  justify-content: flex-end;
}
.switch-date_month,
.switch-date_week {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgb(99, 99, 99);
}

.switch-date_month:hover,
.switch-date_week:hover {
  color: #fff;
  background-color: var(--primary-key);
  transition: all 0.2s linear;
  cursor: pointer;
}
.switch-date_month.active,
.switch-date_week.active {
  color: #fff;
  background-color: var(--primary-key);
}

.prev-php.hide,
.next-php.hide,
.today-php.hide,
.btn-prev-date.hide,
.btn-next-date.hide,
.today-btn.hide {
  display: none;
}

.prev-date,
.next-date {
  opacity: 0.7;
}

.weekdays {
  margin-top: 44px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 1.8rem;
}
.days {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.day-js {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  border: 1px solid #ccc;
}
.days .js-timesheet {
  width: calc(100% / 7);
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  border: 1px solid #ccc;
  border-top: none;
  font-size: 1.6rem;
}
.js-timesheet {
  display: flex;
  flex-wrap: wrap;
}

.highlight-date {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgb(138, 138, 138);
  width: 100%;
  background-color: rgb(231, 231, 231);
}
.current-today.highlight-date {
  background-color: var(--primary-key);
  color: white;
}
/* asd               */

.table-timesheet {
  font-size: 1.4rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.table-row {
  border: 1px solid #ccc;
}

.table-name {
  text-align: center;
}
.table-name p {
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-date {
  text-align: center;
}
.table-date p {
  width: 112px;
}
.table-div {
  height: 70vh;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
}

.scroll-bar {
  max-height: 70vh;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
}
.btn-export_month.hide,
.btn-export_week.hide {
  display: none;
}

.scroll-bar.hide {
  display: none;
}
